/*
 Theme Name:   Diretório de Revistas
 Author:       
 Author URI:   
 Description:  Tema desenvolvido para o Tainacan
 Version:      1.0
 License:      GNU Affero General Public License v3
 License URI:  https://www.gnu.org/licenses/agpl-3.0.en.html
 Tags:         tainacan, flexible, open_source
 Template:     tainacan-interface
*/

body {
  font-family: 'Roboto' !important;
  overflow-x: hidden; }
  body a {
    color: #298596; }
    body a:hover {
      color: #298596; }
  body.error404 {
    overflow: hidden; }

body.loading-content main {
  min-height: calc(100% - 480px);
  min-height: calc(100vh - 480px);
  width: 100%;
  width: 100vw;
  transition: min-height ease 0.3s,  height ease 0.3s; }

body.loading-content main > * {
  display: none;
  visibility: hidden; }

@keyframes spinner-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
body.loading-content main:before {
  content: ' ';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 4rem 50% 0 50%;
  vertical-align: center;
  border: 0.25rem solid #dbdbdb;
  border-right-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .5s linear infinite;
  animation: spinner-border .5s linear infinite; }

@keyframes appear-from-bottom {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 60px); }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0px); } }
.btn {
  padding: .25rem 1.125rem;
  box-shadow: none !important; }

.dropdown-menu {
  padding: 0; }
  .dropdown-menu .dropdown-item {
    border-radius: 0 !important; }

.menu-item-has-children .dropdown-submenu {
  padding: 0.35rem 0 0.35rem 0.5rem !important;
  margin-left: 0.5rem; }
.menu-item-has-children .dropdown-menu .show {
  border-top: none;
  margin-left: -1px; }
.menu-item-has-children ul.show li.current_page_item > a, .menu-item-has-children ul.show li.current-menu-item > a {
  border-bottom: 1px solid #298596;
  background-color: #d9eced; }

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 4.16666666667%;
  right: 4.16666666667vw;
  background: black;
  background: #4ea2ad;
  width: 36px;
  height: 36px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
  animation: appear-from-bottom 0.2s ease; }
  #return-to-top:focus, #return-to-top:active {
    outline: none; }
  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 2px;
    top: -10px;
    font-size: 2rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

@media only screen and (max-width: 768px) {
  .header .header-img {
    min-height: 240px; } }

@media only screen and (max-width: 414px) {
  .header .header-icon {
    right: 1.4vw; } }
@media only screen and (min-width: 768px) {
  .header .header-icon {
    right: 2.9vw; } }
@media only screen and (min-width: 1440px) {
  .header .header-icon {
    right: 1.9vw; } }
@media only screen and (min-width: 1670px) {
  .header .header-icon {
    right: 0.9vw; } }

@media only screen and (min-width: 992px) {
  .capa-colecoes .tainacan-info {
    padding: 0 3rem 0 10rem !important; } }
@media only screen and (min-width: 1200px) {
  .capa-colecoes .tainacan-info {
    padding: 0 3rem 0 16rem !important; } }

@media only screen and (min-width: 768px) {
  .capa-colecoes .tainacan-img-dest {
    /* show 3 items */
    /* left or forward direction */
    /* farthest right hidden item must be abso position for animations */
    /* right or prev direction */ }
    .capa-colecoes .tainacan-img-dest .carousel-inner .active,
    .capa-colecoes .tainacan-img-dest .carousel-inner .active + .carousel-item,
    .capa-colecoes .tainacan-img-dest .carousel-inner .active + .carousel-item + .carousel-item {
      display: block; }
    .capa-colecoes .tainacan-img-dest .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .capa-colecoes .tainacan-img-dest .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .capa-colecoes .tainacan-img-dest .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none; }
    .capa-colecoes .tainacan-img-dest .carousel-inner .carousel-item-next,
    .capa-colecoes .tainacan-img-dest .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0); }
    .capa-colecoes .tainacan-img-dest .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible; }
    .capa-colecoes .tainacan-img-dest .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .capa-colecoes .tainacan-img-dest .carousel-item-next.carousel-item-left + .carousel-item,
    .capa-colecoes .tainacan-img-dest .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .capa-colecoes .tainacan-img-dest .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible; }
    .capa-colecoes .tainacan-img-dest .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible; }
    .capa-colecoes .tainacan-img-dest .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .capa-colecoes .tainacan-img-dest .carousel-item-prev.carousel-item-right + .carousel-item,
    .capa-colecoes .tainacan-img-dest .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .capa-colecoes .tainacan-img-dest .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible; } }

@media only screen and (max-width: 991.98px) {
  footer {
    /* %flipIn{
        animation: flipdown 0.5s ease both;
    } */ }
    footer .tainacan-side > p, footer .tainacan-side div, footer .tainacan-side ul {
      transition: all 0.25s ease-in-out; }
    footer h6 {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    footer h6 {
      line-height: 34px;
      letter-spacing: 1px;
      display: block;
      margin: 0; }
    footer .tainacan-side > p, footer .tainacan-side div, footer .tainacan-side ul {
      line-height: 18px;
      letter-spacing: 1px;
      position: relative;
      overflow: hidden;
      max-height: 795px;
      opacity: 1;
      display: block;
      transform: translate(0, 0);
      margin-top: 14px;
      z-index: 2;
      font-size: 1rem; }
      footer .tainacan-side > p:nth-of-type(1), footer .tainacan-side div:nth-of-type(1), footer .tainacan-side ul:nth-of-type(1) {
        margin: 5px 0 0.5em 0; }
    footer .tainacan-side .gallery {
      display: grid;
      max-height: 485px;
      overflow: hidden;
      justify-content: center; }
      footer .tainacan-side .gallery .gallery-item {
        margin: 5px 0 !important; }
      footer .tainacan-side .gallery br {
        display: none; }
    footer .tainacan-side {
      border-top: 1px solid white; }
    footer .tainacan-side:nth-last-child(1) {
      border-bottom: 1px solid white; }
    footer ul {
      list-style: none;
      perspective: 900;
      padding: 0;
      margin: 0; }
      footer ul li {
        position: relative;
        /* @extend %flipIn; */ }
        footer ul li:nth-of-type(1) {
          animation-delay: 0.5s; }
        footer ul li:nth-of-type(2) {
          animation-delay: 0.75s; }
        footer ul li:nth-of-type(3) {
          animation-delay: 1.0s; }
        footer ul li:last-of-type {
          padding-bottom: 0; }
        footer ul li input[type=checkbox] {
          position: absolute;
          cursor: pointer;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0; }
          footer ul li input[type=checkbox]:checked ~ p, footer ul li input[type=checkbox]:checked ~ div, footer ul li input[type=checkbox]:checked ~ ul, footer ul li input[type=checkbox]:checked ~ img {
            margin-top: 0;
            max-height: 0;
            opacity: 0;
            display: none;
            transform: translate(0, 50%); }
          footer ul li input[type=checkbox]:checked ~ h6 {
            position: relative; }
            footer ul li input[type=checkbox]:checked ~ h6 i:before {
              content: "more";
              letter-spacing: normal;
              position: absolute;
              right: 0;
              height: 24px;
              width: 24px; }
          footer ul li input[type=checkbox] ~ h6 {
            position: relative; }
            footer ul li input[type=checkbox] ~ h6 i:before {
              content: "close";
              letter-spacing: normal;
              position: absolute;
              right: 0;
              height: 24px;
              width: 24px; }
  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg); }
    5% {
      opacity: 1; }
    80% {
      transform: rotateX(8deg); }
    83% {
      transform: rotateX(6deg); }
    92% {
      transform: rotateX(-3deg); }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg); } } }
@media only screen and (min-width: 992px) {
  footer ul {
    list-style: none; }
    footer ul li.tainacan-side {
      margin-right: 4.16666666667%;
      margin-right: 4.16666666667vw;
      flex-grow: 1; }
      footer ul li.tainacan-side:last-child {
        margin-right: 0; }
      footer ul li.tainacan-side input[type=checkbox] {
        display: none; }
      footer ul li.tainacan-side ul:nth-of-type(1) {
        margin: 5px 0 0.5em 0; }
      footer ul li.tainacan-side > ul {
        width: 10vw;
        padding-left: 0; }
        footer ul li.tainacan-side > ul li:nth-of-type(n + 6) {
          display: none; }
        footer ul li.tainacan-side > ul li .children {
          padding-left: 0; }
      footer ul li.tainacan-side div > ul {
        width: 10vw;
        padding-left: 0; }
        footer ul li.tainacan-side div > ul li.menu-item .sub-menu {
          padding-left: 0; }
      footer ul li.tainacan-side .textwidget {
        max-width: 200px; }
      footer ul li.tainacan-side .gallery {
        display: grid;
        max-height: 485px;
        overflow: hidden; }
        footer ul li.tainacan-side .gallery .gallery-item {
          margin: 5px 0 !important; }
        footer ul li.tainacan-side .gallery br {
          display: none; } }

footer .tainacan-side .textwidget, footer .tainacan-side .recentcomments, footer .tainacan-side .calendar_wrap, footer .tainacan-side ul li, footer .tainacan-side div li, footer .tainacan-side div, footer .tainacan-side ul, footer .tainacan-side li {
  color: #898d8f; }

@media only screen and (min-width: 1526px) {
  .max-large {
    max-width: 1400px;
    margin-left: auto !important;
    margin-right: auto !important; }

  .navbar > .pr-lg-5 {
    padding-left: 2.6rem; }

  /* #comments {
      #form-comment{
          textarea {
              width: 34.5vw !important;
          }
      }
  } */ }
nav.menu-shadow {
  max-height: 50px;
  border-bottom: none; }
  nav.menu-shadow .max-large {
    margin: 0 4.16666666667%;
    margin: 0 4.16666666667vw; }
    nav.menu-shadow .max-large .tainacan-form-search {
      padding-right: 1.875rem !important; }
      nav.menu-shadow .max-large .tainacan-form-search .tainacan-input-search {
        height: 27px !important;
        width: 355px; }
        @media only screen and (max-width: 576px) {
          nav.menu-shadow .max-large .tainacan-form-search .tainacan-input-search {
            width: 229px; } }
        nav.menu-shadow .max-large .tainacan-form-search .tainacan-input-search::placeholder {
          font-size: 0.75rem;
          color: #898d8f; }
      nav.menu-shadow .max-large .tainacan-form-search #btn-submit-search {
        height: 27px; }
    nav.menu-shadow .max-large .btn-group button {
      font-size: 0.75rem;
      padding-right: 1.875rem !important; }
      @media only screen and (max-width: 576px) {
        nav.menu-shadow .max-large .btn-group button {
          padding-right: 0.875rem !important; } }
      nav.menu-shadow .max-large .btn-group button:last-child {
        padding-right: 0.25rem !important; }
      nav.menu-shadow .max-large .btn-group button i {
        color: #01295c;
        font-size: 1.1875rem; }
      nav.menu-shadow .max-large .btn-group button[data-toggle='dropdown']::after {
        color: #298596;
        margin-left: 5px; }
      nav.menu-shadow .max-large .btn-group button:hover, nav.menu-shadow .max-large .btn-group button:focus {
        text-decoration: none; }
      nav.menu-shadow .max-large .btn-group button.active-button {
        background-color: #c1dae0; }
    nav.menu-shadow .max-large .tainacan-logo h1 {
      font-size: 1.5rem;
      margin: 0; }
    nav.menu-shadow .max-large .tainacan-logo .logo {
      max-height: 30px;
      width: auto; }
nav .tainacan-search-form .form-control {
  height: 27px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #898d8f; }
nav .tainacan-form-dropdown #dropdownMenuLink::after {
  content: none; }
nav .tainacan-form-dropdown #dropdownMenuLink i {
  font-size: 1.1875rem; }
nav .tainacan-form-dropdown #dropdownMenuLink .tainacan-icon-close {
  display: none; }
nav .tainacan-form-dropdown > .dropdown-menu {
  top: calc(100% + 2px);
  right: 0;
  width: 204px;
  height: 27px;
  padding: 0;
  left: inherit; }
  nav .tainacan-form-dropdown > .dropdown-menu .input-group {
    border: 0; }
  nav .tainacan-form-dropdown > .dropdown-menu .form-control {
    border-radius: 0;
    font-size: 0.75rem;
    font-weight: 400;
    color: #898d8f; }
nav .tainacan-form-dropdown.show .tainacan-icon-search {
  display: none; }
nav .tainacan-form-dropdown.show .tainacan-icon-close {
  display: block !important; }
nav .dropdown-menu .menu-item:hover .dropdown-item {
  background-color: #cbcbcb; }
@media only screen and (min-width: 992px) {
  nav.menu-belowheader {
    height: 70px; } }
nav.menu-belowheader #menubelowHeader > ul > li.menu-item {
  padding-right: 60px; }
  nav.menu-belowheader #menubelowHeader > ul > li.menu-item a {
    font-size: 0.875rem;
    font-weight: 400;
    color: #000;
    margin-right: .5rem;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    position: relative; }
    nav.menu-belowheader #menubelowHeader > ul > li.menu-item a::after {
      color: #298596;
      margin-left: 10px;
      margin-bottom: -2px; }
    nav.menu-belowheader #menubelowHeader > ul > li.menu-item a:hover {
      color: #000; }
      nav.menu-belowheader #menubelowHeader > ul > li.menu-item a:hover:before {
        content: "";
        width: 100%;
        height: 1px;
        margin: 0;
        padding: 0;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0.5rem;
        background-color: #298596; }
    nav.menu-belowheader #menubelowHeader > ul > li.menu-item a.dropdown-item {
      padding-left: 1.25rem;
      padding-right: 1rem; }
      nav.menu-belowheader #menubelowHeader > ul > li.menu-item a.dropdown-item:hover:before {
        background-color: transparent; }
  @media only screen and (max-width: 1024px) {
    nav.menu-belowheader #menubelowHeader > ul > li.menu-item {
      padding-right: 4.1666667%;
      padding-right: 4.1666667vw; } }
  @media only screen and (max-width: 768px) {
    nav.menu-belowheader #menubelowHeader > ul > li.menu-item {
      padding-right: 0; } }
nav.menu-belowheader #menubelowHeader > ul > li.current_page_item > a, nav.menu-belowheader #menubelowHeader > ul > li.current-menu-item > a {
  border-bottom: 1px solid #298596;
  padding: 0;
  margin-right: 0.5rem;
  margin-top: 0.5rem; }
  nav.menu-belowheader #menubelowHeader > ul > li.current_page_item > a:hover:before, nav.menu-belowheader #menubelowHeader > ul > li.current-menu-item > a:hover:before {
    bottom: 0; }
nav.menu-belowheader #menubelowHeader > ul > li .dropdown-menu {
  border-radius: 0;
  border: 1px solid #dbdbdb; }
@media only screen and (max-width: 768px) {
  nav.menu-belowheader #menubelowHeader {
    position: absolute;
    top: 42px;
    right: 0;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    z-index: 2; }
    nav.menu-belowheader #menubelowHeader > ul > li.menu-item a {
      margin: 0;
      padding: 3px 12px; }
      nav.menu-belowheader #menubelowHeader > ul > li.menu-item a:before {
        display: none !important; }
      nav.menu-belowheader #menubelowHeader > ul > li.menu-item a:hover, nav.menu-belowheader #menubelowHeader > ul > li.menu-item a:focus {
        background-color: #DBDBDB; }
      nav.menu-belowheader #menubelowHeader > ul > li.menu-item a:active {
        background-color: #E4F4F6; } }
@media only screen and (max-width: 768px) {
  nav {
    border-bottom: 1px solid #cbcbcb; } }
nav[aria-label='breadcrumb'] {
  border-bottom: 1px solid #cbcbcb;
  font-size: 0.875rem; }
  nav[aria-label='breadcrumb'] .breadcrumb {
    background: transparent; }
    @media only screen and (min-width: 992px) {
      nav[aria-label='breadcrumb'] .breadcrumb {
        margin-left: 31px; } }
  nav[aria-label='breadcrumb'] .breadcrumb-item + .breadcrumb-item:before {
    content: ">";
    color: #298596; }

.navbar {
  border: none; }
  .navbar .navbar-brand {
    padding: 0; }

@media only screen and (max-width: 768px) {
  .navbar.navbar--border-bottom {
    max-height: inherit;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem; }
    .navbar.navbar--border-bottom .navbar-brand {
      white-space: normal; }
    .navbar.navbar--border-bottom .navbar-box {
      margin-left: auto; } }

.navbar-box {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .navbar-box .dropdown-menu {
    border: none; }
  .navbar-box nav.menu-belowheader #menubelowHeader > ul > li.menu-item a {
    max-width: 240px;
    overflow: hidden; }
  .navbar-box > .navbar {
    margin-right: 16px; }
  .navbar-box .tainacan-icon-menu,
  .navbar-box .tainacan-icon-close {
    margin-top: -4px;
    color: #01295C !important; }
  .navbar-box .navbar-toggler {
    outline: none; }
    .navbar-box .navbar-toggler .tainacan-icon-close {
      display: block; }
    .navbar-box .navbar-toggler .tainacan-icon-menu {
      display: none; }
    .navbar-box .navbar-toggler.collapsed .tainacan-icon-close {
      display: none; }
    .navbar-box .navbar-toggler.collapsed .tainacan-icon-menu {
      display: block; }

.navbar--border-bottom {
  border-bottom: 2px solid #ededed !important; }

.tainacan-search-form {
  width: 32px;
  height: 32px;
  position: relative; }
  .tainacan-search-form .input-group {
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    border: 1px solid transparent; }
    .tainacan-search-form .input-group .form-control {
      border: none;
      background: transparent;
      box-shadow: none;
      display: block;
      padding: 1rem 2rem;
      padding-left: 1rem; }
      .tainacan-search-form .input-group .form-control::-webkit-input-placeholder {
        display: none; }
      .tainacan-search-form .input-group .form-control:-moz-placeholder {
        /* Firefox 18- */
        display: none; }
      .tainacan-search-form .input-group .form-control:-ms-input-placeholder {
        display: none; }
    .tainacan-search-form .input-group:hover, .tainacan-search-form .input-group.hover {
      width: 350px;
      border: 1px solid #ccc; }
    .tainacan-search-form .input-group .form-control-feedback {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 1.1875rem; }
      .tainacan-search-form .input-group .form-control-feedback:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.page-header {
  height: 200px;
  background-position: 50%;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: flex-end; }
  .page-header.header-filter {
    position: relative;
    /* &:before {
        background: rgba(0, 0, 0, .2);
    } */ }
    .page-header.header-filter:after, .page-header.header-filter:before {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
      content: ""; }
  .page-header.clear-filter:before {
    background: none; }
  .page-header.collection-page {
    height: 100%;
    height: 100vh; }
  .page-header.page-404 {
    height: 100vh; }
    .page-header.page-404 .container {
      z-index: 2; }
      .page-header.page-404 .container .brand {
        color: white;
        text-align: center; }
        .page-header.page-404 .container .brand h1 {
          font-size: 9.375rem;
          font-weight: 600; }
        .page-header.page-404 .container .brand h3 {
          font-size: 1.313rem; }
      .page-header.page-404 .container a {
        border-color: #25a189 !important; }
        .page-header.page-404 .container a:hover {
          background-color: #25a189 !important;
          border-color: #25a189 !important; }
  .page-header.page-collection {
    height: auto; }
    @media only screen and (max-width: 576px) {
      .page-header.page-collection {
        padding-top: 89.62px; } }
  .page-header.page-height {
    height: 400px; }
    @media only screen and (min-width: 577px) {
      .page-header.page-height > div.ph-title-description {
        margin-bottom: 3.75rem; } }
    @media only screen and (max-width: 576px) {
      .page-header.page-height > div {
        margin-bottom: 1.5625rem !important;
        align-self: flex-end; } }
    @media only screen and (width: 768px) {
      .page-header.page-height > div .title-header {
        padding-top: 1rem !important; } }
    @media only screen and (max-width: 576px) {
      .page-header.page-height {
        height: 200px; } }
  @media only screen and (min-width: 768px) {
    .page-header > div.ph-title-description {
      margin-bottom: 0; } }
  @media only screen and (min-width: 1526px) {
    .page-header > div.ph-title-description .title-header {
      padding-left: calc((100% - 1400px)/2) !important;
      padding-left: calc((100vw - 1400px)/2) !important; } }
  @media only screen and (max-width: 576px) {
    .page-header > div {
      align-self: center; } }
  .page-header > div.t-bg-collection {
    background-color: #2c2d2d;
    border-top: 4px solid white; }
    @media only screen and (max-width: 576px) {
      .page-header > div.t-bg-collection {
        align-self: flex-end;
        margin-bottom: 0 !important; } }
    @media only screen and (min-width: 768px) {
      .page-header > div.t-bg-collection {
        margin-bottom: 0; } }
  .page-header .title-header {
    display: inline-block;
    padding: 1.5rem;
    padding-left: 4.166667%;
    padding-right: 4.166667%;
    padding-left: 4.166667vw;
    padding-right: 4.166667vw;
    max-width: 87.5vw;
    word-break: break-word; }
    @media only screen and (min-width: 769px) {
      .page-header .title-header {
        max-height: 100px;
        min-width: 450px;
        padding: 0rem;
        padding-left: 4.166667%;
        padding-right: 4.166667%;
        padding-left: 4.166667vw;
        padding-right: 4.166667vw; }
        .page-header .title-header.singular-title {
          padding: 1.5rem;
          padding-left: 4.166667%;
          padding-left: 4.166667vw; } }
    @media only screen and (max-width: 768px) {
      .page-header .title-header {
        padding: 0.7rem;
        padding-top: 1.2rem;
        padding-left: 4.166667%;
        padding-right: 4.166667%;
        padding-left: 4.166667vw;
        padding-right: 4.166667vw;
        max-height: 100px; } }
    @media only screen and (max-width: 576px) {
      .page-header .title-header {
        max-height: 50px;
        padding: 1rem;
        padding-top: 0.8rem; } }
    .page-header .title-header h1 {
      color: #000;
      font-size: 3rem;
      font-weight: 800; }
      @media only screen and (max-width: 768px) {
        .page-header .title-header h1 {
          font-size: 2rem;
          line-height: 2rem; } }
      @media only screen and (max-width: 576px) {
        .page-header .title-header h1 {
          font-size: 1.5rem;
          line-height: 1.5rem; } }
    .page-header .title-header span {
      color: #000;
      font-size: 1.5rem;
      font-weight: 400; }
      @media only screen and (max-width: 576px) {
        .page-header .title-header span {
          font-size: 0.75rem; } }

/* IMAGEM DO TOPO DA INTERNA */
.page-header__image {
  width: 100%;
  width: 100vw;
  margin: 0 auto;
  object-fit: cover;
  display: block; }

.page-header.page-header--image-full {
  height: auto;
  display: block; }

.tainacan-title .tainacan-title-page .title-page {
  font-size: 1.25rem;
  word-break: break-word; }
  @media only screen and (max-width: 576px) {
    .tainacan-title .tainacan-title-page .title-page {
      width: 85%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; } }
  .tainacan-title .tainacan-title-page .title-page .tainacan-edit-item-collection {
    font-size: 1rem; }
.tainacan-title .tainacan-title-page .title-back {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.5rem; }

.dropdown-item {
  font-weight: inherit !important; }
  .dropdown-item:hover {
    color: black; }

.margin-one-column {
  margin: 0 4.16666666667%;
  margin: 0 4.16666666667vw; }
  @media only screen and (max-width: 1526px) {
    .margin-one-column {
      max-width: calc(100vw - 8.33333333334%);
      max-width: calc(100vw - 8.33333333334vw); } }

.form-control {
  border-color: #e5e5e5; }
  .form-control:focus {
    box-shadow: none;
    border-color: #898d8f; }

@media only screen and (max-width: 768px) {
  .margin-md-two-column {
    margin-left: 8.33333333334% !important;
    margin-right: 8.33333333334% !important;
    margin-left: 8.33333333334vw !important;
    margin-right: 8.33333333334vw !important; } }

.margin-one-column-left {
  margin-left: 4.16666666667%;
  margin-left: 4.16666666667vw; }

.margin-two-column {
  margin: 0 8.33333333334%;
  margin: 0 8.33333333334vw; }

.margin-three-column {
  margin: 0 12.5%; }

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.image-placeholder {
  background-color: #dbdbdb;
  display: flex;
  margin: 0 auto; }
  .image-placeholder > h4 {
    /* align-self: center;
    text-align: center;
    width: 100%; */
    flex: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #555758;
    font-weight: bold; }

@keyframes item-appear {
  from {
    opacity: 0;
    transform: translate(0, 12px); }
  to {
    opacity: 1;
    transform: translate(0, 0px); } }
.alignwide {
  margin-left: calc(-8.3333333333vw + 15px) !important;
  margin-right: calc(-8.3333333333vw + 15px) !important;
  width: 116.66667%;
  max-width: 1400px; }
  @media only screen and (min-width: 1526px) {
    .alignwide {
      margin-left: calc(-1*(87.5vw - 1415px)/2) !important !important;
      margin-right: calc(-1*(87.5vw - 1415px)/2) !important !important; } }

.wp-block-image.alignwide > img {
  max-width: 1400px !important;
  width: calc(100vw - 12.5vw) !important;
  padding: 0 !important;
  left: 0px;
  position: relative; }
  @media only screen and (min-width: 1526px) {
    .wp-block-image.alignwide > img {
      left: 30px; } }

.alignfull {
  margin-left: calc( -100vw / 2 + 100% / 2 ) !important;
  margin-right: calc( -100vw / 2 + 100% / 2 ) !important;
  max-width: 100%;
  max-width: 100vw;
  width: 100%;
  width: 100vw; }

.wp-block-image.alignfull > img {
  max-width: 100% !important;
  width: 100% !important;
  max-width: 100vw !important;
  width: 100vw !important;
  padding: 0 !important; }

/* Buttons */
.wp-block-button {
  margin-bottom: 1rem; }
  .wp-block-button .btn {
    font-size: 0.875rem; }

.wp-block-button.is-style-outline .btn {
  background: white !important;
  color: #298596;
  border: 1px solid #555758 !important; }

.wp-block-button.aligncenter,
.wp-block-button.alignleft,
.wp-block-button.alignright {
  display: block; }

/* Media and Text */
.wp-block-media-text {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .wp-block-media-text .wp-block-media-text__content {
    padding: 0.75rem 4.16666667%;
    padding: 0.75rem 4.1666667vw; }

#comments div[for=comment] span {
  font-size: 1.125rem; }
#comments div[for=comment] .authenticated {
  font-size: 0.625rem; }
#comments form#commentform .comment-notes {
  font-size: 0.75rem;
  color: #898d8f; }
@media only screen and (min-width: 768px) {
  #comments form#commentform .form-row .form-row--avartar {
    flex: 0 0 5.333333%;
    max-width: 5.333333%; }
  #comments form#commentform .form-row .form-row--textarea {
    flex: 0 0 94.666667%;
    max-width: 94.666667%; } }
#comments form#commentform .form-row img {
  width: 50px;
  height: 50px; }
#comments form#commentform .form-row .form-group .comments-input {
  margin-left: auto;
  width: 90% !important; }
  @media only screen and (max-width: 576px) {
    #comments form#commentform .form-row .form-group .comments-input {
      margin-left: 0;
      width: 100% !important; } }
#comments form#commentform p[class^="comment-form-"] {
  margin-bottom: 22px; }
  #comments form#commentform p[class^="comment-form-"] label {
    font-size: 0.75rem;
    font-weight: 700;
    color: #000;
    margin-right: 1.8%; }
  #comments form#commentform p[class^="comment-form-"] input {
    width: 50%;
    border: 1px solid #cbcbcb;
    height: 30px; }
    @media only screen and (max-width: 576px) {
      #comments form#commentform p[class^="comment-form-"] input {
        width: 82%; } }
#comments form#commentform .comment-form-cookies-consent {
  display: flex;
  align-items: center; }
  #comments form#commentform .comment-form-cookies-consent #wp-comment-cookies-consent {
    width: auto;
    display: inline-flex; }
  #comments form#commentform .comment-form-cookies-consent label {
    margin: 0 1rem; }
#comments form#commentform .comment-form-author {
  margin-top: 22px; }
#comments form#commentform .comment-form-url {
  margin-bottom: 30px !important; }
  #comments form#commentform .comment-form-url label {
    margin-right: 1.4% !important; }
    @media only screen and (max-width: 576px) {
      #comments form#commentform .comment-form-url label {
        margin-right: 0.3% !important; } }
@media only screen and (max-width: 576px) {
  #comments form#commentform .mx-sm-auto {
    padding: 0 2rem; } }
#comments form#commentform textarea {
  border-radius: 0; }
@media screen and (min-width: 768px) {
  #comments form#commentform button#submit, #comments form#commentform button#cancel-comment-reply-link, #comments form#commentform a#submit, #comments form#commentform a#cancel-comment-reply-link {
    height: 28px;
    padding-top: 2px; } }

#comments form#commentform button#submit:focus, #comments form#commentform button#cancel-comment-reply-link:focus, #comments form#commentform a#submit:focus, #comments form#commentform a#cancel-comment-reply-link:focus {
  box-shadow: none; }
#comments form#commentform button#cancel-comment-reply-link, #comments form#commentform a#cancel-comment-reply-link {
  color: #150e38; }
#comments form#commentform button#submit, #comments form#commentform a#submit {
  border: none; }
  #comments form#commentform button#submit:hover, #comments form#commentform a#submit:hover {
    background-color: #25a189 !important; }
#comments .list-comments .media {
  margin-bottom: 2.5rem; }
  #comments .list-comments .media > .avatar {
    width: 50px;
    height: 50px; }
  #comments .list-comments .media .media-body h5 a.bypostauthor {
    font-size: 0.75rem; }
  #comments .list-comments .media .media-body h5 .comment-time {
    font-size: 0.625rem; }
  #comments .list-comments .media .media-body .comment-text {
    font-size: 0.75rem;
    max-width: 60vw; }
    #comments .list-comments .media .media-body .comment-text p {
      margin-bottom: 0; }
      @media only screen and (max-width: 576px) {
        #comments .list-comments .media .media-body .comment-text p {
          margin-left: 0.5rem; } }
    @media only screen and (min-width: 576px) {
      #comments .list-comments .media .media-body .comment-text {
        margin-left: 0.5rem; } }
  #comments .list-comments .media .media-body .comment-reply-link, #comments .list-comments .media .media-body .comment-edit-link {
    color: #2cb4c1;
    font-size: 0.75rem; }
@media only screen and (min-width: 576px) {
  #comments ul.children.align-children {
    margin-left: 2.5rem; } }
#comments .navigation {
  border-top: 1px solid #898d8f; }
  #comments .navigation .float-left, #comments .navigation .float-right {
    color: #898d8f;
    margin-top: 0.5rem; }
    #comments .navigation .float-left a, #comments .navigation .float-right a {
      color: #898d8f;
      font-weight: normal; }
  #comments .navigation .float-left i {
    transform: rotate(90deg);
    margin-right: -4px;
    vertical-align: top; }
  #comments .navigation .float-right i {
    transform: rotate(90deg);
    margin-left: -4px;
    vertical-align: top; }

.tainacan-list-post hr:last-child {
  display: none; }
.tainacan-list-post .blog-post .blog-thumbnail {
  padding-right: 0;
  margin-right: 4.16666666667%; }
@media screen and (min-width: 992px) {
  .tainacan-list-post .blog-post .blog-thumbnail {
    flex: 0 0 29.333333%; } }

  .tainacan-list-post .blog-post .blog-thumbnail img {
    width: 300px;
    height: auto; }
.tainacan-list-post .blog-post .blog-content {
  font-size: 0.75rem;
  font-weight: 400;
  color: #898d8f; }
@media screen and (min-width: 768px) {
  .tainacan-list-post .blog-post .blog-content.blog-flex {
    flex: 0 0 61.666667%;
    max-width: 61.666667%; } }
@media screen and (min-width: 992px) {
  .tainacan-list-post .blog-post .blog-content.blog-flex {
    flex: 0 0 65.666667%;
    max-width: 65.666667%;
    padding-left: 0; } }

  .tainacan-list-post .blog-post .blog-content h3 {
    font-size: 1.125rem; }
  .tainacan-list-post .blog-post .blog-content .text-black {
    font-weight: 400;
    font-size: 1rem; }
  .tainacan-list-post .blog-post .blog-content time {
    font-size: 0.75rem;
    font-weight: 400;
    color: #898d8f; }
  .tainacan-list-post .blog-post .blog-content a[rel="author"] {
    font-size: 0.75rem;
    font-weight: 400; }
  .tainacan-list-post .blog-post .blog-content .readmore.screen-reader-text {
    font-size: 0.875rem;
    font-weight: 400; }
.tainacan-list-post table thead th {
  color: #898d8f;
  font-size: 0.75rem;
  font-weight: 400;
  border-top: none;
  border-bottom: 1px solid #cbcbcb; }
.tainacan-list-post table .tainacan-list-collection {
  cursor: pointer; }
  .tainacan-list-post table .tainacan-list-collection:hover {
    background-color: #f2f2f2; }
  .tainacan-list-post table .tainacan-list-collection th, .tainacan-list-post table .tainacan-list-collection td {
    vertical-align: middle; }
  .tainacan-list-post table .tainacan-list-collection td {
    border-top: none;
    padding: 10px; }
  .tainacan-list-post table .tainacan-list-collection .collection-checkbox {
    width: 4.16666666667%;
    text-align: right;
    padding-right: 0; }
  .tainacan-list-post table .tainacan-list-collection .collection-miniature {
    padding-left: 20px;
    text-align: center; }
    .tainacan-list-post table .tainacan-list-collection .collection-miniature img {
      width: 40px;
      height: 40px; }
    .tainacan-list-post table .tainacan-list-collection .collection-miniature .image-placeholder {
      height: 40px;
      width: 40px; }
  .tainacan-list-post table .tainacan-list-collection .collection-title {
    font-size: 0.875rem;
    font-weight: 400; }
    .tainacan-list-post table .tainacan-list-collection .collection-title a {
      color: #000; }
      .tainacan-list-post table .tainacan-list-collection .collection-title a:hover {
        text-decoration: none; }
  .tainacan-list-post table .tainacan-list-collection .collection-description, .tainacan-list-post table .tainacan-list-collection .collection-date {
    font-size: 0.75rem;
    font-weight: 400; }
    .tainacan-list-post table .tainacan-list-collection .collection-description p, .tainacan-list-post table .tainacan-list-collection .collection-date p {
      margin-bottom: 0; }
  .tainacan-list-post table .tainacan-list-collection .collection-create-by {
    font-size: 0.75rem;
    font-weight: 400; }
    .tainacan-list-post table .tainacan-list-collection .collection-create-by a {
      color: #898d8f; }
      .tainacan-list-post table .tainacan-list-collection .collection-create-by a:hover {
        text-decoration: none; }
.tainacan-list-post .tainacan-list-collection--container-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, 425px);
  grid-gap: 30px; }
  @media only screen and (max-width: 797px) {
    .tainacan-list-post .tainacan-list-collection--container-card {
      grid-gap: 12px; } }
  @media screen and (max-width: 480px) {
    .tainacan-list-post .tainacan-list-collection--container-card {
      grid-template-columns: repeat(auto-fit, 100%); }
      .tainacan-list-post .tainacan-list-collection--container-card .tainacan-list-collection--card-img,
      .tainacan-list-post .tainacan-list-collection--container-card .image-placeholder {
        width: 130px !important;
        height: 130px !important; } }
  .tainacan-list-post .tainacan-list-collection--container-card .tainacan-list-collection--card:hover {
    background: #f2f2f2 !important; }
    .tainacan-list-post .tainacan-list-collection--container-card .tainacan-list-collection--card:hover .tainacan-list-collection--title {
      background-color: #dbdbdb; }
    .tainacan-list-post .tainacan-list-collection--container-card .tainacan-list-collection--card:hover .image-placeholder {
      background-color: #cbcbcb; }
  .tainacan-list-post .tainacan-list-collection--container-card .tainacan-list-collection--card .tainacan-list-collection--title {
    background: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    height: 40px;
    line-height: 0.5rem; }
  .tainacan-list-post .tainacan-list-collection--container-card .tainacan-list-collection--card .tainacan-list-collection--card-img {
    width: 170px;
    height: 170px; }
  .tainacan-list-post .tainacan-list-collection--container-card .tainacan-list-collection--card .image-placeholder {
    height: 170px;
    width: 170px;
    margin-right: 1rem; }
    .tainacan-list-post .tainacan-list-collection--container-card .tainacan-list-collection--card .image-placeholder > h4 {
      text-align: center;
      font-size: 3rem; }
  .tainacan-list-post .tainacan-list-collection--container-card .tainacan-list-collection--card .media-body p {
    font-size: 0.6875rem;
    font-weight: 400;
    padding-top: 0.75rem;
    padding-right: 0.75rem; }
.tainacan-list-post .tainacan-list-collection--container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 46px; }
  .tainacan-list-post .tainacan-list-collection--container-grid .tainacan-list-collection--grid {
    width: 250px;
    height: 295px; }
    .tainacan-list-post .tainacan-list-collection--container-grid .tainacan-list-collection--grid .tainacan-list-collection--grid-title {
      font-size: 0.875rem;
      font-weight: 400;
      height: 45px;
      line-height: 0.75rem; }
    .tainacan-list-post .tainacan-list-collection--container-grid .tainacan-list-collection--grid .tainacan-list-collection--grid-img {
      width: 275px;
      height: 250px; }
    .tainacan-list-post .tainacan-list-collection--container-grid .tainacan-list-collection--grid .image-placeholder {
      height: 250px;
      width: 250px; }
      .tainacan-list-post .tainacan-list-collection--container-grid .tainacan-list-collection--grid .image-placeholder > h4 {
        font-size: 3rem; }
.tainacan-list-post .tainacan-list-collection--grid-link:hover, .tainacan-list-post .tainacan-list-collection--card-link:hover {
  text-decoration: none;
  background-color: #f2f2f2; }
  .tainacan-list-post .tainacan-list-collection--grid-link:hover .tainacan-list-collection--title, .tainacan-list-post .tainacan-list-collection--grid-link:hover .tainacan-list-collection--grid-title, .tainacan-list-post .tainacan-list-collection--card-link:hover .tainacan-list-collection--title, .tainacan-list-post .tainacan-list-collection--card-link:hover .tainacan-list-collection--grid-title {
    background-color: #dbdbdb; }
  .tainacan-list-post .tainacan-list-collection--grid-link:hover .image-placeholder, .tainacan-list-post .tainacan-list-collection--card-link:hover .image-placeholder {
    background-color: #cbcbcb; }

.tainacan-collection-list--simple-search .dropdown #dropdownMenuSorting, .tainacan-collection-list--simple-search .dropdown #dropdownMenuViewMode {
  font-size: 0.875rem; }
  .tainacan-collection-list--simple-search .dropdown #dropdownMenuSorting:focus, .tainacan-collection-list--simple-search .dropdown #dropdownMenuViewMode:focus {
    box-shadow: none; }
  .tainacan-collection-list--simple-search .dropdown #dropdownMenuSorting::after, .tainacan-collection-list--simple-search .dropdown #dropdownMenuViewMode::after {
    color: #298596; }
.tainacan-collection-list--simple-search .dropdown.dropdown-sorting button {
  padding-left: 0; }
@media only screen and (max-width: 576px) {
  .tainacan-collection-list--simple-search .dropdown.dropdown-viewMode .show {
    transform: translate3d(-94px, 35px, 0px) !important;
    left: 0 !important; } }
.tainacan-collection-list--simple-search .dropdown .dropdown-menu {
  font-size: 0.875rem;
  border-radius: 0; }
  .tainacan-collection-list--simple-search .dropdown .dropdown-menu a:hover {
    background-color: #c1dae0; }
  .tainacan-collection-list--simple-search .dropdown .dropdown-menu a.active {
    background-color: #c1dae0; }
.tainacan-collection-list--simple-search a {
  color: #898d8f; }
  .tainacan-collection-list--simple-search a:hover {
    color: #898d8f; }
  .tainacan-collection-list--simple-search a.active {
    color: #cbcbcb; }
    .tainacan-collection-list--simple-search a.active:hover {
      color: #cbcbcb; }
  .tainacan-collection-list--simple-search a:focus {
    box-shadow: none; }
.tainacan-collection-list--simple-search #tainacan-collection-search input {
  height: calc(2.25rem - 3px);
  border-color: #cbcbcb !important; }
  .tainacan-collection-list--simple-search #tainacan-collection-search input:focus {
    box-shadow: none;
    border-right: none; }
  .tainacan-collection-list--simple-search #tainacan-collection-search input::placeholder {
    font-size: 0.75rem;
    color: #898d8f; }
.tainacan-collection-list--simple-search #tainacan-collection-search button {
  border-color: #cbcbcb !important;
  line-height: 0.5; }
  .tainacan-collection-list--simple-search #tainacan-collection-search button:focus {
    box-shadow: none; }

.tainacan-single-post {
  /* @media screen {
      @media (min-width: 768px) {
          padding: 0 2rem;
      }
  } */ }
  .tainacan-single-post article header .header-meta {
    color: #898d8f !important;
    font-size: 0.75rem;
    font-weight: 400;
    align-items: center; }
@media screen and (min-width: 768px) {
  .tainacan-single-post article header .header-meta {
    margin-top: -10px; } }

    .tainacan-single-post article header .header-meta img {
      height: 24px;
      padding-left: 1rem; }
  .tainacan-single-post article header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; }
  .tainacan-single-post article .title-content-items {
    font-size: 1.125rem;
    font-weight: 500;
    color: #338591;
    margin-left: 4.16666666667%;
    margin-bottom: 2rem; }
  .tainacan-single-post article .tainacan-content {
    font-size: 1rem;
    min-height: 32.5vh; }
    @media only screen and (min-height: 1080px) {
      .tainacan-single-post article .tainacan-content {
        min-height: 50vh; } }
    .tainacan-single-post article .tainacan-contenth1, .tainacan-single-post article .tainacan-contenth2 {
      font-size: 1rem; }
    .tainacan-single-post article .tainacan-content h1 {
      color: #298596;
      font-size: 1.125rem;
      font-weight: 600; }
    .tainacan-single-post article .tainacan-content h2 {
      color: #000;
      font-size: 1.125rem;
      font-weight: 600; }
    .tainacan-single-post article .tainacan-content h3 {
      color: #000;
      font-size: 1rem;
      font-weight: 600; }
    .tainacan-single-post article .tainacan-content h4 {
      color: #555758;
      font-size: 1rem;
      font-style: italic; }
    .tainacan-single-post article .tainacan-content h5 {
      color: #000;
      font-size: 0.875rem;
      font-weight: 600; }
    .tainacan-single-post article .tainacan-content h6 {
      color: #298596;
      font-size: 0.875rem;
      font-weight: 400; }
    .tainacan-single-post article .tainacan-content pre:not(.wp-block-code) {
      color: #555758;
      font-size: 1rem;
      font-weight: 400;
      white-space: pre-line; }
    .tainacan-single-post article .tainacan-content .wp-block-code code {
      font-size: 0.875rem;
      color: #298596;
      word-break: break-word; }
    .tainacan-single-post article .tainacan-content .wp-block-quote {
      margin: 3rem 8.33333%;
      padding: 1rem; }
      .tainacan-single-post article .tainacan-content .wp-block-quote p {
        color: #555758;
        font-size: 1rem;
        font-weight: normal; }
      .tainacan-single-post article .tainacan-content .wp-block-quote cite {
        color: #555758;
        display: block;
        width: 100%;
        text-align: right;
        font-size: 1rem;
        font-weight: 500;
        font-style: italic; }
      .tainacan-single-post article .tainacan-content .wp-block-quote:not(.is-style-large) {
        border-left: 2px solid #298596; }
      .tainacan-single-post article .tainacan-content .wp-block-quote.is-style-large {
        font-size: 1.375rem; }
    .tainacan-single-post article .tainacan-content .wp-block-separator {
      border-color: #cbcbcb;
      width: 50%; }
      .tainacan-single-post article .tainacan-content .wp-block-separator.is-style-wide {
        width: 100%; }
      .tainacan-single-post article .tainacan-content .wp-block-separator.is-style-dots::before {
        color: #cbcbcb;
        font-weight: 600; }
    .tainacan-single-post article .tainacan-content ul {
      font-size: 1rem;
      font-weight: 400;
      color: #000; }
    .tainacan-single-post article .tainacan-content .table thead {
      border-bottom: 1px solid #cbcbcb;
      color: #555758;
      font-weight: 400;
      font-size: 0.75rem; }
    .tainacan-single-post article .tainacan-content .table tbody {
      font-size: 0.875rem;
      font-weight: 400;
      color: #000; }
    .tainacan-single-post article .tainacan-content dl dd {
      margin-left: 2rem; }
    .tainacan-single-post article .tainacan-content address {
      font-size: 0.875rem;
      font-style: italic; }
    .tainacan-single-post article .tainacan-content p code {
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: 1px solid #BCBEC0;
      padding: 2px;
      font-size: 12px; }
    .tainacan-single-post article .tainacan-content img[class*="align"] .gallery-icon img,
    .tainacan-single-post article .tainacan-content img[class*="wp-image-"] .gallery-icon img,
    .tainacan-single-post article .tainacan-content .gallery .gallery-icon img {
      padding: 6px;
      max-width: 97.5%;
      max-width: calc( 100% - 14px ); }
    .tainacan-single-post article .tainacan-content img[class*="align"], .tainacan-single-post article .tainacan-content img[class*="wp-image-"], .tainacan-single-post article .tainacan-content img[class*="attachment-"] {
      height: auto; }
    .tainacan-single-post article .tainacan-content h1, .tainacan-single-post article .tainacan-content h2, .tainacan-single-post article .tainacan-content h3, .tainacan-single-post article .tainacan-content h4, .tainacan-single-post article .tainacan-content h5, .tainacan-single-post article .tainacan-content h6 {
      padding-top: .4rem; }
      .tainacan-single-post article .tainacan-content h1::after, .tainacan-single-post article .tainacan-content h2::after, .tainacan-single-post article .tainacan-content h3::after, .tainacan-single-post article .tainacan-content h4::after, .tainacan-single-post article .tainacan-content h5::after, .tainacan-single-post article .tainacan-content h6::after {
        display: block;
        clear: both;
        content: ""; }
    .tainacan-single-post article .tainacan-content .wp-block-columns {
      display: flex; }
      @media only screen and (max-width: 781px) {
        .tainacan-single-post article .tainacan-content .wp-block-columns .wp-block-column {
          margin-left: 0 !important;
          margin-right: 0 !important; } }
      .tainacan-single-post article .tainacan-content .wp-block-columns .wp-block-column {
        flex-basis: 100%; }
      .tainacan-single-post article .tainacan-content .wp-block-columns .wp-block-column:not(:last-child) {
        margin-right: 4.16666667%; }
      .tainacan-single-post article .tainacan-content .wp-block-columns .wp-block-column:not(:first-child) {
        margin-left: 4.16666667%; }
    .tainacan-single-post article .tainacan-content .alignleft {
      float: left;
      margin: 0 1em 1em 0; }
    .tainacan-single-post article .tainacan-content .alignright {
      float: right;
      margin: 0 0 1em 1em; }
    @media only screen and (max-width: 576px) {
      .tainacan-single-post article .tainacan-content .alignleft, .tainacan-single-post article .tainacan-content .alignright {
        float: none;
        text-align: center;
        margin: 0; }
        .tainacan-single-post article .tainacan-content .alignleft img, .tainacan-single-post article .tainacan-content .alignright img {
          width: 275px; } }
    .tainacan-single-post article .tainacan-content img {
      max-width: 100%; }
      .tainacan-single-post article .tainacan-content img.alignleft {
        float: left;
        margin-right: 1.625em;
        margin-bottom: 1.625em; }
        @media only screen and (max-width: 576px) {
          .tainacan-single-post article .tainacan-content img.alignleft {
            display: block;
            float: none;
            margin-left: 0;
            margin-right: 0; } }
      .tainacan-single-post article .tainacan-content img.alignright {
        float: right;
        margin-left: 1.625em; }
        @media only screen and (max-width: 576px) {
          .tainacan-single-post article .tainacan-content img.alignright {
            display: block;
            float: none;
            margin-left: 0;
            margin-right: 0; } }
      .tainacan-single-post article .tainacan-content img.size-full {
        max-width: 97.5%;
        width: auto;
        height: auto; }
      .tainacan-single-post article .tainacan-content img.aligncenter {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto; }
    .tainacan-single-post article .tainacan-content .wp-block-cover-image {
      width: 99.5vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw; }
      @media only screen and (max-width: 1200px) {
        .tainacan-single-post article .tainacan-content .wp-block-cover-image {
          width: 100vw; } }
    .tainacan-single-post article .tainacan-content .wp-block-embed iframe {
      width: 100%; }
    .tainacan-single-post article .tainacan-content .wp-block-gallery .blocks-gallery-item figure {
      margin: 0 !important; }
      .tainacan-single-post article .tainacan-content .wp-block-gallery .blocks-gallery-item figure figcaption {
        padding: 10px 10px 5px;
        background: #fff;
        color: #000; }
    .tainacan-single-post article .tainacan-content .wp-block-gallery .blocks-gallery-item img {
      height: 100% !important; }
    @media (max-width: 768px) {
      .tainacan-single-post article .tainacan-content .wp-block-gallery {
        padding-left: 0; } }
    .tainacan-single-post article .tainacan-content .wp-block-image {
      text-align: center; }
      .tainacan-single-post article .tainacan-content .wp-block-image.is-resized img {
        max-width: none !important; }
      .tainacan-single-post article .tainacan-content .wp-block-image figcaption {
        color: #000;
        font-size: 0.875rem;
        font-weight: 400; }
    .tainacan-single-post article .tainacan-content .wp-block-pullquote {
      margin: 3rem 0;
      padding: 0;
      border: none; }
      .tainacan-single-post article .tainacan-content .wp-block-pullquote blockquote {
        border-top: 2px solid #cbcbcb;
        border-bottom: 2px solid #cbcbcb;
        padding: 2rem 8.3333333%; }
        .tainacan-single-post article .tainacan-content .wp-block-pullquote blockquote p {
          font-size: 1.375rem;
          color: #298596;
          font-weight: 500; }
        .tainacan-single-post article .tainacan-content .wp-block-pullquote blockquote cite {
          color: #555758;
          font-size: 1rem;
          font-weight: normal;
          font-style: italic;
          text-transform: none; }
    .tainacan-single-post article .tainacan-content .wp-caption, .tainacan-single-post article .tainacan-content .gallery-caption {
      font-size: 0.8125rem;
      max-width: 100%;
      margin-top: 1em;
      margin-bottom: 1.5em; }
      .tainacan-single-post article .tainacan-content .wp-caption .wp-caption-text, .tainacan-single-post article .tainacan-content .gallery-caption .wp-caption-text {
        margin: 0.8075em 0; }
      .tainacan-single-post article .tainacan-content .wp-caption img[class*="wp-image-"], .tainacan-single-post article .tainacan-content .gallery-caption img[class*="wp-image-"] {
        height: auto;
        margin: 2% 0;
        width: 100%; }
    .tainacan-single-post article .tainacan-content > p:last-child::after {
      display: block;
      clear: both;
      content: ""; }
    .tainacan-single-post article .tainacan-content.single-item-collection {
      min-height: 23.5vh; }
      .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--document {
        color: black;
        font-size: 0.875rem;
        font-weight: 400;
        display: flex;
        justify-content: center; }
        .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--document > iframe, .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--document img.attachment-large {
          display: block;
          height: auto;
          margin: 0 auto; }
        @media only screen and (min-width: 768px) {
          .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--document > iframe {
            min-height: 600px; } }
        @media only screen and (max-width: 576px) {
          .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--document > iframe {
            min-height: 429px; } }
        .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--document .tainacan-embed-container {
          width: 100%; }
          .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--document .tainacan-embed-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0; }
      .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--attachments .single-item-collection--attachments-img {
        margin: 10px; }
        .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--attachments .single-item-collection--attachments-img img {
          width: 125px;
          height: 125px; }
          .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--attachments .single-item-collection--attachments-img img:focus {
            outline: none; }
        .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--attachments .single-item-collection--attachments-img a:focus {
          outline: none; }
      .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--attachments .single-item-collection--attachments-prev {
        left: -50px; }
      .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--attachments .single-item-collection--attachments-next {
        right: -10px; }
        @media only screen and (min-width: 1500px) {
          .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--attachments .single-item-collection--attachments-next {
            right: -25px; } }
      .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--attachments .single-item-collection--attachments-prev, .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--attachments .single-item-collection--attachments-next {
        position: absolute;
        display: block;
        height: 33px;
        width: 45px;
        line-height: 0px;
        font-size: 3.75rem;
        color: #298596;
        cursor: pointer;
        background: transparent;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none; }
      .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .card .item-card--thumbnail {
        height: auto;
        max-width: 250px;
        padding: 0; }
      .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .card h3 {
        color: #000;
        font-size: 0.875rem;
        font-weight: 700; }
      .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .card p {
        color: #000;
        font-size: 0.75rem; }
      .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .card .item-card-link--sharing {
        margin-right: 0.5rem; }
        .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .card .item-card-link--sharing img {
          padding: 0;
          max-width: 100%;
          width: 30px; }
      .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .s-item-collection--metadata {
        height: 100%; }
        .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .s-item-collection--metadata div {
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid; }
          .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .s-item-collection--metadata div:last-child {
            -webkit-column-break-inside: auto;
            page-break-inside: auto;
            break-inside: auto; }
        @media only screen and (min-width: 768px) {
          .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .s-item-collection--metadata {
            -moz-column-count: 2;
            -moz-column-gap: 0;
            -moz-column-rule: none;
            -webkit-column-count: 2;
            -webkit-column-gap: 0;
            -webkit-column-rule: none;
            column-count: 2;
            column-gap: 4rem;
            column-rule: none; } }
        @media only screen and (min-width: 1408px) {
          .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .s-item-collection--metadata {
            -moz-column-count: 3;
            -moz-column-gap: 7rem;
            -moz-column-rule: none;
            -webkit-column-count: 3;
            -webkit-column-gap: 7rem;
            -webkit-column-rule: none;
            column-count: 3;
            column-gap: 7rem;
            column-rule: none; } }
        .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .s-item-collection--metadata h3 {
          color: #000;
          font-size: 0.875rem;
          font-weight: 700;
          padding-right: 1rem;
          width: 100%; }
          .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .s-item-collection--metadata h3:first-of-type:last-of-type {
            display: inline-block; }
        .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .s-item-collection--metadata p {
          color: #000;
          word-wrap: break-word;
          font-size: 0.75rem;
          font-weight: 400; }
        .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .s-item-collection--metadata .multivalue-separator {
          color: #cbcbcb;
          margin: 0 8px; }
        .tainacan-single-post article .tainacan-content.single-item-collection .single-item-collection--information .s-item-collection--metadata .metadata-type-textarea .multivalue-separator {
          display: block;
          max-height: 1px;
          width: 35px;
          background: #cbcbcb;
          content: none;
          color: transparent;
          margin: 0.875rem auto; }
  .tainacan-single-post article footer {
    font-size: 0.875rem;
    color: #000;
    font-weight: 400; }

@media only screen and (min-width: 768px) {
  .sidebar-border {
    border-top: none !important; } }

#sidebar.sidebar .widget .widget-title {
  font-size: 0.875rem;
  font-weight: bold;
  color: #1d1d1b; }
#sidebar.sidebar .widget.widget_recent_entries ul li, #sidebar.sidebar .widget.widget_recent_comments ul li {
  margin-bottom: 0.3rem; }
#sidebar.sidebar .widget.widget_media_gallery .gallery {
  display: grid; }
  #sidebar.sidebar .widget.widget_media_gallery .gallery dl {
    margin-top: 0; }
    #sidebar.sidebar .widget.widget_media_gallery .gallery dl dt img {
      border: 0; }
  #sidebar.sidebar .widget.widget_media_gallery .gallery br {
    display: none; }
#sidebar.sidebar .widget.widget_text {
  font-size: 0.75rem; }
#sidebar.sidebar .widget ul {
  padding-left: 0; }
  #sidebar.sidebar .widget ul li {
    display: block;
    margin-bottom: 0.3rem; }
    #sidebar.sidebar .widget ul li a {
      font-weight: 400;
      font-size: 0.875rem; }
#sidebar.sidebar .widget form .input-group-append button {
  height: 30px;
  padding: 0 5px 0 0px; }
  #sidebar.sidebar .widget form .input-group-append button:hover {
    color: inherit; }
  #sidebar.sidebar .widget form .input-group-append button i {
    color: #01295c;
    font-size: 1.1875rem; }
#sidebar.sidebar .widget #tainacan-search {
  font-size: 0.75rem;
  color: #555758;
  height: 30px; }
  #sidebar.sidebar .widget #tainacan-search:focus {
    box-shadow: none; }

.margin-pagination {
  border-width: 2px !important;
  font-size: 0.875rem;
  font-weight: 400;
  color: #898d8f;
  padding: 0 1rem;
  margin-top: 5rem; }
  .margin-pagination .pagination .nav-links a:nth-last-child(1) {
    white-space: nowrap; }
  @media only screen and (max-width: 576px) {
    .margin-pagination .pagination .nav-links {
      flex-wrap: wrap; } }
  .margin-pagination .pagination .nav-links .page-numbers {
    padding: .5rem; }
    .margin-pagination .pagination .nav-links .page-numbers i {
      font-size: 1.125rem; }
    .margin-pagination .pagination .nav-links .page-numbers .next {
      padding-left: 0; }
  .margin-pagination .view-items {
    white-space: nowrap; }
  @media screen {
    .margin-pagination {
      /* @media (max-width: 592px){
          margin-left: 3rem;
          margin-right: 3rem;
      }
      @media (min-width: 768px){
          margin-left: 6rem;
          margin-right: 6rem;
      } */ } }

@media only screen and (min-width: 1526px) {
  .collection-header {
    overflow: inherit; } }

.t-bg-collection {
  min-height: 150px;
  z-index: 1; }
  @media only screen and (max-width: 768px) {
    .t-bg-collection {
      min-height: 130px; } }
  @media only screen and (max-width: 576px) {
    .t-bg-collection {
      min-height: 96px; } }
  .t-bg-collection .t-collection--info-img, .t-bg-collection .image-placeholder {
    width: calc(16.6666666667% - 8px);
    width: calc(16.6666666667vw - 8px);
    height: calc(16.6666666667% - 8px);
    height: calc(16.6666666667vw - 8px);
    max-height: 215px;
    max-width: 215px;
    bottom: -111px;
    border-width: 4px !important; }
    @media only screen and (max-width: 1526px) {
      .t-bg-collection .t-collection--info-img, .t-bg-collection .image-placeholder {
        margin-left: 4.16666666667%;
        margin-left: 4.16666666667vw; } }
    @media only screen and (max-width: 1290px) {
      .t-bg-collection .t-collection--info-img, .t-bg-collection .image-placeholder {
        bottom: calc(-8.33% + 4px);
        bottom: calc(-8.33vw + 4px); } }
    @media only screen and (max-width: 767px) {
      .t-bg-collection .t-collection--info-img, .t-bg-collection .image-placeholder {
        width: calc(25% - 8px);
        width: calc(25vw - 8px);
        height: calc(25% - 8px);
        height: calc(25vw - 8px);
        max-width: calc(25% - 8px);
        max-width: calc(25vw - 8px);
        bottom: calc(-12.5% - 4px);
        bottom: calc(-12.5vw - 4px); }
        .t-bg-collection .t-collection--info-img h4, .t-bg-collection .image-placeholder h4 {
          font-size: 2.5rem !important; } }
    .t-bg-collection .t-collection--info-img h4, .t-bg-collection .image-placeholder h4 {
      font-size: 3rem; }
  .t-bg-collection .t-collection--info {
    padding-top: 10px;
    justify-content: space-between; }
    .t-bg-collection .t-collection--info .t-collection--col-9 {
      padding-left: calc(4.16666666667% + 15px) !important;
      padding-left: calc(4.16666666667vw + 15px) !important;
      padding-right: 12.5% !important;
      padding-right: 12.5vw !important; }
      @media only screen and (max-width: 767px) {
        .t-bg-collection .t-collection--info .t-collection--col-9 {
          padding-left: 4.16666666667% !important;
          padding-left: 4.16666666667vw !important;
          padding-right: 8.33% !important;
          padding-right: 8.33vw !important; } }
      .t-bg-collection .t-collection--info .t-collection--col-9 h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .t-bg-collection .t-collection--info .t-collection--info-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 0.4rem; }
      @media only screen and (max-width: 768px) {
        .t-bg-collection .t-collection--info .t-collection--info-title {
          font-size: 1.125rem;
          font-weight: 600; } }
    .t-bg-collection .t-collection--info .t-collection--info-description-text {
      font-size: 0.875rem;
      font-weight: 400;
      margin-bottom: 0; }
      .t-bg-collection .t-collection--info .t-collection--info-description-text a {
        color: rgba(255, 255, 255, 0.6); }
      @media only screen and (max-width: 576px) {
        .t-bg-collection .t-collection--info .t-collection--info-description-text {
          margin-top: 0.5rem; } }
      .t-bg-collection .t-collection--info .t-collection--info-description-text.tainacan-interface-truncate {
        min-height: 65px;
        margin-bottom: 1.25rem; }
        .t-bg-collection .t-collection--info .t-collection--info-description-text.tainacan-interface-truncate .tainacan-interface-more, .t-bg-collection .t-collection--info .t-collection--info-description-text.tainacan-interface-truncate .tainacan-interface-less {
          color: rgba(255, 255, 255, 0.6);
          white-space: nowrap; }
        .t-bg-collection .t-collection--info .t-collection--info-description-text.tainacan-interface-truncate.full-story {
          height: auto;
          margin-bottom: 2rem; }

/* .collection-header--share {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    transition: all 0.5s;
    margin-right: 4.16666666667%;
    bottom: 0;
    .collection-header--share-button {
        border: none;
        color: #2c2d2d;
        background-color: #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        right: 0;
        height: 30px !important;
        width: 30px !important;
        margin-right: 4.16666666667%;
        position: absolute;
        bottom: -1rem;
        &:hover {
            background-color: #fff;
        }
        &:focus{
            outline:none;
        }
    }
    
    #collection-header--share-button-plus {
        transition: all 0.5s;
    }
    
    #fa-1, #fa-2, #fa-3 {
        position: absolute;
        color: #2c2d2d;
        background-color: #fff;
        border-radius: 50%;
        border: none;
        right: 0;
        transition: all 0.5s;
        height: 30px !important;
        width: 30px !important;
        margin-right: 4.16666666667%;
        right: 0;
        bottom: -1rem;
    }
    #fa-1, #fa-2, #fa-3 {
        &:hover{
            tansition-delay: 0s;
            color: #ff8db3;
        }
    }
    &.open {
        height: 100px;
        width: 100px;
        right: 0;
        .fab {
            background-color: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 4px 8px rgba(0, 0, 0, 0.2);
        }
        #plus {
            -webkit-transform: rotateZ(135deg) translate(-1px, 3px);
            transform: rotateZ(135deg) translate(-1px, 3px);
        }
        #fa-1 {
            transition-delay: 0s;
            -webkit-transform: translate(-53px, 10px);
            transform: translate(-53px, 10px);
        }
        #fa-2 {
            transition-delay: 0.1s;
            -webkit-transform: translate(-38px, -39px);
            transform: translate(-38px, -39px);
        }
        #fa-3 {
            transition-delay: 0.2s;
            -webkit-transform: translate(10px, -53px);
            transform: translate(10px, -53px);
        }
    }
} */
.absolute-center, .collection-header--share, .collection-header--share .btn .tainacan-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3; }

.collection-header--share {
  width: 35px;
  height: 35px;
  left: 94.833333%;
  top: -2px; }
  @media only screen and (max-width: 1526px) {
    .collection-header--share {
      margin-right: 4.16666666667%;
      margin-right: 4.16666666667vw; } }
  @media only screen and (max-width: 576px) {
    .collection-header--share {
      left: 90.833333%; } }
  .collection-header--share .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    transition: opacity 0.3s, z-index 0.3s, transform 0.3s;
    transform: translateX(0);
    color: #2c2d2d; }
    .collection-header--share .btn .tainacan-icon {
      font-size: 1.4rem;
      transition: color 0.3s;
      color: #2c2d2d;
      margin-top: -0.05rem; }
      .collection-header--share .btn .tainacan-icon.tainacan-icon-share {
        left: 45%; }
    .collection-header--share .btn.trigger {
      opacity: 1;
      z-index: 100;
      cursor: pointer;
      transition: transform 0.3s; }
  .collection-header--share .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%; }
    .collection-header--share .rotater a {
      color: #2c2d2d; }
  .collection-header--share.active .btn {
    opacity: 1 !important;
    z-index: 50; }

.rotater:nth-child(1) {
  transform: rotate(-22.5deg); }

.collection-header--share.active .rotater:nth-child(1) .btn-icon {
  transform: translateX(-4em) rotate(22.5deg); }

.rotater:nth-child(2) {
  transform: rotate(22.5deg); }

.collection-header--share.active .rotater:nth-child(2) .btn-icon {
  transform: translateX(-4em) rotate(-22.5deg); }

.rotater:nth-child(3) {
  transform: rotate(67.5deg); }

.collection-header--share.active .rotater:nth-child(3) .btn-icon {
  transform: translateX(-4em) rotate(-67.5deg); }

.rotater:nth-child(4) {
  transform: rotate(112.5deg); }

.collection-header--share.active .rotater:nth-child(4) .btn-icon {
  transform: translateX(-4em) rotate(-112.5deg); }

.rotater:nth-child(5) {
  transform: rotate(157.5deg); }

.collection-header--share.active .rotater:nth-child(5) .btn-icon {
  transform: translateX(-4em) rotate(-157.5deg); }

.rotater:nth-child(6) {
  transform: rotate(202.5deg); }

.collection-header--share.active .rotater:nth-child(6) .btn-icon {
  transform: translateX(-4em) rotate(-202.5deg); }

.rotater:nth-child(7) {
  transform: rotate(247.5deg); }

.collection-header--share.active .rotater:nth-child(7) .btn-icon {
  transform: translateX(-4em) rotate(-247.5deg); }

.rotater:nth-child(8) {
  transform: rotate(292.5deg); }

.collection-header--share.active .rotater:nth-child(8) .btn-icon {
  transform: translateX(-4em) rotate(-292.5deg); }

footer.tainacan-footer {
  background-color: #2c2d2d; }
  footer.tainacan-footer a {
    color: #9f9f9f; }
    footer.tainacan-footer a:hover {
      color: white;
      font-weight: 600;
      text-decoration: none; }
  @media only screen and (max-width: 991px) {
    footer.tainacan-footer .tainacan-footer-widgets-area {
      margin: 0 calc(4.16666666667% * 1);
      margin: 0 calc(4.16666666667vw * 1); } }
  @media only screen and (min-width: 992px) {
    footer.tainacan-footer .tainacan-footer-widgets-area {
      margin: 0 calc(4.16666666667% * 3);
      margin: 0 calc(4.16666666667vw * 3); } }
  footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ul,
  footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ol {
    list-style: inside; }
    footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ul li,
    footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ol li {
      color: white;
      margin-bottom: 1rem; }
      footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ul li.tainacan-side h6,
      footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ol li.tainacan-side h6 {
        font-size: 1.125rem; }
      footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ul li p .fiber,
      footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ol li p .fiber {
        font-size: 0.5625rem; }
      footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ul li a,
      footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ol li a {
        color: #9f9f9f; }
        footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ul li a:hover,
        footer.tainacan-footer .tainacan-footer-widgets-area .tainacan-side ol li a:hover {
          color: white;
          font-weight: 600;
          text-decoration: none; }
  footer.tainacan-footer .tainacan-footer-info {
    font-size: 0.875rem; }
    @media only screen and (max-width: 991px) {
      footer.tainacan-footer .tainacan-footer-info {
        margin: 0 calc(4.16666666667% * 1);
        margin: 0 calc(4.16666666667vw * 1); } }
    @media only screen and (min-width: 992px) {
      footer.tainacan-footer .tainacan-footer-info {
        margin: 0 calc(4.16666666667% * 3);
        margin: 0 calc(4.16666666667vw * 3); } }
    footer.tainacan-footer .tainacan-footer-info .tainacan-footer-info--blog {
      font-weight: 400;
      margin-bottom: 2rem; }
    footer.tainacan-footer .tainacan-footer-info .tainacan-footer-info--logo {
      width: 120px; }
    footer.tainacan-footer .tainacan-footer-info .tainacan-powered {
      font-weight: 400;
      color: #cbcbcb; }
      footer.tainacan-footer .tainacan-footer-info .tainacan-powered a {
        color: #f9f9f9; }
        footer.tainacan-footer .tainacan-footer-info .tainacan-powered a:hover {
          color: white;
          font-weight: 600;
          text-decoration: none; }

.tainacan-grid-container {
  min-height: 50vh;
  padding: 0px 4.166666667% 24px 4.166666667%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 285px);
  grid-gap: 0px;
  justify-content: space-evenly;
  animation-name: appear;
  animation-duration: 0.5s; }
  .tainacan-grid-container .row {
    justify-content: space-around; }
  .tainacan-grid-container .col {
    flex-grow: 0; }
  .tainacan-grid-container .tainacan-grid-item {
    width: 255px;
    margin: 12px 15px 24px 15px;
    text-align: center;
    display: block;
    text-decoration: none !important; }
    .tainacan-grid-container .tainacan-grid-item.skeleton {
      width: 255px;
      height: 295px; }
    .tainacan-grid-container .tainacan-grid-item .grid-item-thumbnail {
      width: 255px;
      height: 255px;
      max-height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0;
      display: block;
      position: relative; }
      .tainacan-grid-container .tainacan-grid-item .grid-item-thumbnail .skeleton {
        width: 255px;
        height: 255px;
        position: absolute;
        z-index: -1;
        background-color: #e0e0e0;
        bottom: 0; }
      .tainacan-grid-container .tainacan-grid-item .grid-item-thumbnail img {
        width: 255px;
        height: 255px;
        height: auto;
        border-radius: 0px;
        margin-bottom: -5px;
        visibility: hidden; }
    .tainacan-grid-container .tainacan-grid-item:hover {
      background-color: #dbdbdb; }
      .tainacan-grid-container .tainacan-grid-item:hover p.metadata-title {
        text-decoration: none !important; }
    .tainacan-grid-container .tainacan-grid-item p.metadata-title {
      flex-shrink: 0;
      font-size: 0.875rem;
      margin-bottom: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0.6rem 1.5rem;
      text-align: left;
      color: #1d1d1d;
      text-decoration: none !important; }

.page-header-taxonomy {
  border: 0;
  display: flex;
  height: 400px;
  margin-top: 1rem;
  margin-bottom: 50px;
  position: relative;
  background-color: #f2f2f2; }
  @media only screen and (max-width: 576px) {
    .page-header-taxonomy {
      height: auto; } }
  @media only screen and (min-width: 641px) and (max-width: 768px) {
    .page-header-taxonomy {
      height: 270px; } }
  @media only screen and (min-width: 577px) and (max-width: 640px) {
    .page-header-taxonomy {
      height: 329px; } }
  .page-header-taxonomy > .container-fluid > .page-header-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media only screen and (max-width: 576px) {
      .page-header-taxonomy > .container-fluid > .page-header-image {
        height: 360px; } }
    @media only screen and (min-width: 641px) and (max-width: 768px) {
      .page-header-taxonomy > .container-fluid > .page-header-image {
        flex: 0 0 37.5%;
        max-width: 37.3333333333%;
        height: 270px; } }
    @media only screen and (max-width: 640px) {
      .page-header-taxonomy > .container-fluid > .page-header-image {
        height: 329px; } }
  .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta {
    margin: 45px 4.16666666667%; }
    @media only screen and (max-width: 768px) {
      .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta {
        margin-top: 30px;
        margin-bottom: 18px;
        margin-left: 32px;
        margin-right: 32px; } }
    @media only screen and (max-width: 576px) {
      .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta {
        margin-top: 40px;
        margin-bottom: 25px; } }
    .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-content-title {
      width: 100%;
      border-color: #298596 !important; }
      .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-content-title .page-header-title {
        color: #01295c;
        font-size: 20px;
        font-weight: 400; }
        @media only screen and (max-width: 576px) {
          .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-content-title .page-header-title {
            margin-bottom: 0.9375rem; } }
      .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-content-title .page-header-back {
        font-size: 14px;
        display: flex;
        align-self: center;
        margin-bottom: .2rem; }
    .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights {
      margin-top: 30px; }
      @media only screen and (max-width: 768px) {
        .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights {
          margin-top: 23px; } }
      .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-description {
        color: #000;
        font-size: 14px;
        font-weight: 400; }
        @media only screen and (max-width: 768px) {
          .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-description {
            font-size: 12px; } }
        .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-description a {
          color: #298596;
          font-size: 14px;
          font-weight: 400; }
      .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share {
        padding-left: 4.16666666667%; }
        @media only screen and (max-width: 992px) {
          .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share {
            margin-top: 23px;
            padding-left: 0; } }
        @media only screen and (max-width: 576px) {
          .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share {
            margin-top: 40px; } }
        .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share .page-header-icons {
          width: 100%; }
          @media only screen and (max-width: 768px) {
            .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share .page-header-icons {
              width: 50%; }
              .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share .page-header-icons:not(:last-child) {
                width: 20%; } }
          .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share .page-header-icons .share-title {
            color: #000;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: .1rem; }
          @media only screen and (min-width: 769px) {
            .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share .page-header-icons:not(:last-child) {
              margin-bottom: 22px; } }
          .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share .page-header-icons .icon-export {
            background-color: #298596;
            color: #fff;
            border-radius: 100%;
            padding: .282rem .4rem; }
          .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share .page-header-icons .share-link:hover {
            text-decoration: none; }
          .page-header-taxonomy > .container-fluid > .page-header-content > .page-header-content-meta > .page-header-hightlights > .page-header-share .page-header-icons .share-link .share-images {
            width: 28px;
            height: 28px; }

.page-header-taxonomy--height-auto {
  height: auto; }

.ekko-lightbox-nav-overlay a {
  opacity: 1; }
  .ekko-lightbox-nav-overlay a span {
    padding: 0; }
  .ekko-lightbox-nav-overlay a:first-child {
    left: -50px;
    position: relative; }
  .ekko-lightbox-nav-overlay a:last-child {
    right: -50px;
    position: relative; }

/***
- ACESSIBILIDADE
***/
/*
- BARRA DE ACESSIBILIDADE
*/
/*.accessibility-bar {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #01295C;
  background-color: #fff;
  z-index: 4; }

.accessibility-bar__container {
  width: 100%;
  max-width: 960px;
  min-height: 40px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }

.accessibility-shortcuts {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  display: flex; }

.accessibility-shortcuts--hidden {
  position: fixed;
  top: -50px;
  left: -50px;
  opacity: 0;
  z-index: -2; }

.accessibility-shortcuts li {
  margin: 0 10px; }

.accessibility-shortcuts a,
.accessibility-shortcuts button {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #000;
  line-height: normal;
  cursor: pointer;
  display: block;
  border: none;
  background: none; }
  .accessibility-shortcuts a span,
  .accessibility-shortcuts button span {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background: #01295C; }

.accessibility-options {
  display: none; }

body.js .accessibility-options {
  height: 24px;
  margin: 0 -10px;
  padding: 0;
  display: flex;
  list-style: none; }

.accessibility-options li {
  height: 24px;
  margin: 0 10px;
  display: flex;
  align-items: center; }

.accessibility-options span {
  height: 14px;
  margin-right: 6px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #000;
  line-height: normal;
  display: block; }

.accessibility-options button {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #fff;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  border: none;
  background: #01295C; }

.accessibility-options button + button {
  margin-left: 6px; }

.accessibility-options .button-high-contrast {
  text-indent: -99999px;
  overflow: hidden;
  position: relative;
  border: 1px solid #000;
  background-color: #fff; }

.accessibility-options .button-high-contrast:after {
  content: "";
  width: 11px;
  height: 22px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000; }

@media screen and (max-width: 800px) {
  .accessibility-bar__container {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }

  .accessibility-shortcuts {
    flex-flow: row wrap;
    justify-content: space-around; }

  .accessibility-options {
    margin-top: 20px; } }
@media screen and (max-width: 800px) {
  .accessibility-bar .accessibility-shortcuts {
    position: absolute;
    top: 0;
    border: none;
    background: none;
    transform: translate(0, -100px); }

  .accessibility-bar .accessibility-shortcuts a {
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    opacity: 0;
    background-color: #fff;
    z-index: -2;
    transform: translate(-50%, 130px);
    white-space: nowrap; }

  .accessibility-bar .accessibility-shortcuts a:focus {
    opacity: 1;
    z-index: 2; } }*/
/*
- ADICIONANDO JS NÃO OBSTRUSIVO
*/
.collapse:not(.show) {
  display: block; }

body.js .collapse:not(.show) {
  display: none; }

/*
- ALTO CONTRASTE
*/
body.contraste,
body.contraste *,
body.contraste .page-header .title-header,
body.contraste .button.is-outlined {
  color: #fff !important;
  border-color: #fff !important;
  background-color: #000 !important; }

body.contraste a {
  text-decoration: underline !important; }

body.contraste a:visited {
  color: #FFF333 !important; }

body.contraste .search-box,
body.contraste .collection-header--type-b {
  border: 2px solid #fff !important; }

body.contraste .page-header .title-header h2:after,
body.contraste .highlights-list__title-box:after {
  display: none !important; }

body.contraste .navbar,
body.contraste .page-header.page-height,
body.contraste .accessibility-bar {
  border-bottom: 1px solid #fff !important; }

body.contraste footer.tainacan-footer {
  border-top: 1px solid #fff !important; }

body.contraste .tainacan-single-post article header .header-meta,
body.contraste .theme-items-list a,
body.contraste .dropdown .dropdown-menu .dropdown-content .dropdown-item,
body.contraste .dropdown .dropdown-menu .dropdown-content .has-link a,
body.contraste .dropdown .dropdown-menu .has-link .dropdown-content a,
body.contraste .autocomplete .dropdown-menu .dropdown-content .dropdown-item,
body.contraste .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a,
body.contraste .dropdown .autocomplete .dropdown-menu .dropdown-content .has-link a,
body.contraste .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a,
body.contraste .dropdown .autocomplete .dropdown-menu .has-link .dropdown-content a,
body.contraste .select:not(.is-loading)::after,
body.contraste .table-container .table-wrapper table.tainacan-table .column-main-content p,
body.contraste .tainacan-title-page ul li,
body.contraste .tainacan-title-page ul li a,
body.contraste #menubelowHeader .menu-item a::after,
body.contraste .menu-shadow button[data-toggle='dropdown']::after,
body.contraste .tainacan-search-form .input-group .form-control::placeholder {
  color: #fff !important; }

body.contraste .page-header .title-header.singular-title,
body.contraste img,
body.contraste .tainacan-form .control.has-icons-right .icon,
body.contraste .accessibility-options button {
  border: 1px solid #fff !important; }

body.contraste footer .tainacan-footer-info .tainacan-footer-info--logo,
body.contraste .collection-header--type-b .btn.trigger,
body.contraste .page-header .title-header.singular-title,
body.contraste .tainacan-single-post article header .header-meta img {
  border: none !important; }

body.contraste .page-header.page-height > div.ph-title-description,
body.contraste .collection-header--share .rotater,
body.contraste .collection-header--share,
body.contraste .collection-header--share .btn .mdi.mdi-share-variant,
body.contraste .collection-header--share .btn .mdi,
body.contraste .t-bg-collection .t-collection--info .t-collection--info-title,
body.contraste .t-bg-collection .t-collection--info .t-collection--col-9,
body.contraste .image-placeholder > .title-initials,
body.contraste .t-bg-collection .t-collection--info .t-collection--col-3,
body.contraste .accessibility-shortcuts,
body.contraste .accessibility-shortcuts li,
body.contraste .tainacan-form .select select,
body.contraste .page-header > div.ph-title-description,
body.contraste .page-header .title-header.singular-title {
  background-color: transparent !important; }

body.contraste .accessibility-shortcuts a span,
body.contraste .tooltip .tooltip-inner {
  color: #000 !important;
  background-color: #fff !important; }

body.contraste .accessibility-options .button-high-contrast,
body.contraste .tainacan-logo img {
  background-color: #fff !important; }

body.contraste .tainacan-search-form .input-group .form-control {
  border: 1px solid transparent !important; }
  body.contraste .tainacan-search-form .input-group .form-control:focus {
    border: 1px solid #fff !important; }
body.contraste .tainacan-search-form .input-group:hover .form-control, body.contraste .tainacan-search-form .input-group.hover .form-control {
  border: 1px solid #fff !important; }

body.contraste #return-to-top {
  background: #fff !important; }
  body.contraste #return-to-top i {
    color: #000 !important;
    background: transparent !important; }

/*# sourceMappingURL=style.css.map */
