@charset "UTF-8";

/***
* MARGENS
***/

.mb-30 { margin-bottom: 30px !important; }
.mb-44 { margin-bottom: 44px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-60 { margin-bottom: 60px !important; }
.mb-65 { margin-bottom: 65px !important; }
.mb-90 { margin-bottom: 90px !important; }
.mb-100 { margin-bottom: 100px !important; }

/***
* REGRAS GERAIS
***/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}

html {
	height: 100%;
	font-size: 1rem;
}
body {
	height: 100%;
	font-family: 'Fira Sans Condensed', sans-serif !important;
	font-size: inherit !important;
	background-color: #fff;
}

/* h1, h2, h3,
h4, h5, h6 { margin: 0 !important; } */

img, legend, fieldset,
input, button { border: 0; }

button, input, select, optgroup, textarea { font-family: 'Fira Sans Condensed', sans-serif !important; }


:focus {
	outline-color: transparent;
	outline-style: none;
}

body a {
	cursor: pointer;
	color: #1D5584 !important;
}
.main a { color: inherit !important; }

legend { display: none !important; }
ol, ul { list-style: none; }
a:hover { text-decoration: underline; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header, nav, section,
article, aside, footer { display: block; }

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

form legend {
	width: 1px;
	height: 1px;
	padding: 0;
	white-space: nowrap;
	position: absolute;
	overflow: hidden;
	border: 0;
	clip: rect(0,0,0,0);
}

.sr-only {
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	position: absolute;
	border: 0;
}

.wrapper-all {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	width: 100%;
	max-width: 1200px !important;
	margin: 0 auto;
}

.titulo-1 {
	font-size: 1.2rem;
	color: #1D5584;
}

/*
- CABEÇALHO
*/

.main-header {
	width: 100%;
	border-bottom: 1px solid #202020;
	background-color: #fff;
}
.main-header .container {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-header .container:before,
.main-header .container:after { display: none; }
.main-header h1 {
	width: 100%;
	/*max-width: 335px;*/
	margin: 0;
}
.main-header h1 img {
	width: 100%;
	display: block;
}
.main-header h1 a { color: #1D5584; }

/* MENU DE NAVEGAÇÃO */

.navbar {
	min-height: auto;
	margin-bottom: 0;
	padding: 0 !important;
	border-radius: 0;
	border: none;
}
.navbar-collapse { padding: 0; }
.navbar-nav {
	height: auto !important;
	margin-right: -20px;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	display: flex;
	float: none;
}
.navbar-nav li {
	padding: 0 10px;
	float: none;
}
.navbar-nav li a {
	padding: 0;
	font-family: 'Fira Sans Condensed', sans-serif !important;
	color: #1D5584;
	text-transform: uppercase;
	font-size: 1.1rem;
	line-height: normal;
}

.nav>li>a:hover,
.nav>li>a:focus {
	text-decoration: underline;
	outline: none;
	background: none;
}

.navbar-toggler {
	width: 40px;
	height: 40px;
	margin-left: 20px;
	padding: 0 !important;
	font-size: 1.25rem;
	cursor: pointer;
	display: none;
	line-height: 23px !important;
	background-color: #fff !important;
	border: 1px solid transparent;
	border-radius: .25rem;
}
.navbar-toggler-icon {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

@media screen and (max-width: 991px) {
	.navbar-nav {
		flex-direction: column;
	}
	.navbar-collapse {
		width: 280px;
		position: absolute;
		top: 100%;
		right: 0;
		border: 2px solid #DDDDDC;
		background: #fff;
		z-index: 2;
		overflow: hidden !important;
	}
	.navbar-collapse.collapse { display: none !important; }
	.navbar-collapse.collapse.in,
	.navbar-collapse.collapse.show { display: block !important; }
	.navbar-collapse li a { color: #2BA99D; }
	.navbar-toggler { display: block; }

	.navbar-collapse .navbar-nav { margin: 0; }
}

/* EDIÇÃO DO MENU DE NAVEGAÇÃO DO WORDPRESS */

.navbar-nav { flex-wrap: nowrap !important; }
.navbar-nav > li { position: relative; }
.navbar-nav .sub-menu {
	max-height: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	top: 100%;
	left: 10px;
	background-color: #1D5584;
	transition: max-height 400ms ease-in-out, padding 200ms ease-in-out;
}
.navbar-nav .sub-menu a {
	color: #fff !important;
	white-space: nowrap;
}

.navbar-nav > li:hover .sub-menu {
	max-height: 500px;
	padding: 10px 0;
	transition: max-height 500ms ease-in-out, padding 200ms ease-in-out;
}

/*
 * PAGINAS
 */

.entry .entry-title,
.title-single {
	margin: 40px 0 21px !important;
	font-weight: 600;
	font-size: 3.2rem;
	color: #1D5584;
	line-height: normal;
}
.entry .entry-content p,
.content-single p,
.abstract-single p {
	font-weight: 400;
	font-size: 1.3rem;
	color: #878787;
	line-height: normal;
	text-align: justify;
}
.abstract-single {
	padding-bottom: 10px;
	position: relative;
}
.abstract-single p { font-weight: 600; }
.content-single .img-thumbnail {
	max-width: 50%;
	margin: 0 0 20px 1em;
	float: right;
}

/*
- CONTEUDO
*/
.main-main {
	width: 100%;
	margin: 0;
	padding: 0 0 50px 0;
	overflow: hidden;
}
.main-logo {
	max-width: 479px;
	margin: 0 auto 37px;
	display: block;
}
.main-logo img {
	width: 100%;
	display: block;
}

.box-form-search-wp {
	width: 100%;
	padding: 59px 0 49px;
	background-image: linear-gradient(#1D5584,#82a3bf);
}
.box-form-search-wp__text {
	margin-bottom: 14px;
	font-weight: 300;
	font-size: 1.7rem;
	color: #fff;
	line-height: 30px;
	text-align: justify;
	display: block;
}

.form-search-wp {
	width: 100%;
	max-width: 756px;
	margin: 0 auto;
}
.form-row {
	width: 100%;
	min-height: 56px;
	margin: 0;
	position: relative;
}
.form-border { border: 2px solid #fff; }
.form-search-wp fieldset { padding: 0; }
.form-search-wp .input-group {
	width: 100%;
	height: 100%;
}
.form-search-wp input[type=text],
.form-search-wp input[type=search] {
	width: 100%;
	height: 100%;
	padding: 0 60px 0 10px;
	font-weight: 400;
	font-size: 1.2rem;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	outline: none !important;
	background: none !important;
}
.form-search-wp input[type=text]::placeholder,
.form-search-wp input[type=search]::placeholder { color: #fff; }
.form-search-wp input[type=text]:-ms-input-placeholder,
.form-search-wp input[type=search]:-ms-input-placeholder { color: #fff; }
.form-search-wp input[type=text]::-ms-input-placeholder,
.form-search-wp input[type=search]::-ms-input-placeholder { color: #fff; }
.form-search-wp .input-group-append { z-index: 9; }
.form-search-wp button[type=submit] {
	width: 52px;
	height: 52px;
	text-indent: -99999px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: url(../img/ico/lupa.png) center center no-repeat;
	background-size: 30px;
}

/* LINKS ABAIXO DO FORM */

.box-extra {
	width: 100%;
	max-width: 756px;
	margin: 7px auto 0;
	display: flex;
	justify-content: flex-end;
}
.box-extra a {
	font-weight: 300;
	font-size: 1.5rem;
	color: #fff !important;
	line-height: normal;
}
.box-extra a + a { margin-left: 20px; }

.box-extra a:focus,
.box-extra a:hover { text-decoration: underline; }

@media screen and (max-width: 500px) {
	.box-extra { flex-direction: column; }
	.box-extra a + a { margin: 0; }
}

/*
- DASHBOARD
*/

.main-main--compact {
	margin: 0;
	padding: 50px 0 0;
}
.main-main--compact .form-search-wp { margin: 0; }
.main-main--compact .box-extra {
	max-width: 590px;
	margin: 5px 0 15px;
}
.main-main--compact .box-extra a { font-size: 1rem; }

/* ABAS */

.box-tabs { width: 100%; }
.box-tabs__list {
	width: 100%;
	max-width: 590px;
	padding: 15px 0 0;
	display: flex;
	justify-content: flex-start;
}
.box-tabs__list button,
.box-tabs__list a {
	padding: 0 10px;
	font-weight: 400;
	font-size: 1.4rem;
	color: #8B8B8B;
	position: relative;
	border: none;
	background: none;
}
.box-tabs__list a:focus,
.box-tabs__list a:hover { text-decoration: none; }
.box-tabs__list button.active:after,
.box-tabs__list button:hover:after,
.box-tabs__list button:focus:after,
.box-tabs__list a.active:after,
.box-tabs__list a:hover:after,
.box-tabs__list a:focus:after {
	content: "";
	width: 100%;
	height: 2px;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #0094B8;
}
.box-tabs__content {
	width: 100%;
	margin-top: 20px;
}
.box-tabs__tab-content {
	width: 100%;
	height: 2100px;
}
/*.box-tabs__tab-content { display: none; }
.box-tabs__tab-content.active { display: block; }*/
.box-tabs__tab-content iframe {
	width: 0;
	height: 0;
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	border: none;
	background: url(../img/ico/loading.gif) center 20px no-repeat;
}
#content.container { max-width: 1400px !important; }

/* LISTA DE ÍCONES DA HOME */

.box-list-item {
	width: 100%;
	max-width: 1190px;
	margin: 50px auto 70px;
	padding: 0 20px;
}
.list-item {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.list-item li {
	width: 100%;
	padding: 20px 50px;
	display: flex !important;
	justify-content: space-between;
	position: relative;
}
.list-item li + li:before {
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	left: 20px;
	border-top: 1px solid #dbdbdb;
}
.list-item img {
	width: 100%;
	width: 100px;
	max-height: 100px;
	margin: 0 19px 0 0;
	display: block;
	border: 1px solid #dbdbdb;
}
.list-item__text { width: 100%; }
.list-item li strong {
	margin-bottom: 4px;
	font-weight: 500;
	font-size: .9rem;
	color: #202020;
	line-height: 1.1rem;
	display: block;
}
.list-item li p {
	margin-bottom: 4px;
	font-weight: 300;
	font-size: .8rem;
	color: #202020;
	line-height: 1.1rem;
}
.list-item li a { font-size: .8rem; }

.slick-dots li {
	width: auto !important;
	padding: 0 !important;
	display: inline-block !important;
}
.slick-dots li:before { display: none; }

.slick-prev,
.slick-next { z-index: 9; }
.slick-prev { left: 0 !important; }
.slick-next { right: 0 !important; }
.slick-prev:before,
.slick-next:before { color: #000 !important; }

@media screen and (max-width: 768px) {
	.list-item { display: block; }
	.list-item li {
		max-width: unset;
		padding: 20px;
	}
}

/* GRÁFICOS */

.box-graficos {
	padding: 60px 0;
	text-align: center;
}

/*
* RODAPE
*/

.footer {
	width: 100%;
	border-top: 1px solid #dbdbdb;
}
.footer > .container {
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer > .container img { width: 100%; }
.logo-ibict {
	width: 100%;
	max-width: 165px;
	display: block;
}
.logo-mctic {
	width: 100%;
	max-width: 360px;
	margin-left: 30px;
	display: block;
}

@media screen and (max-width: 500px) {
	.footer > .container {
		padding: 20px;
		display: block;
	}
	.logo-ibict { margin: 0 auto 20px; }
	.logo-mctic { margin: 20px auto 0; }
	.box-logo-ibict { display: block !important; }
}

.barra-logos {
	width: 100%;
	padding: 30px;
	background-color: #ddd;
	border-bottom: 1px solid #dbdbdb;
}
.barra-logos .titulo-1 { margin-top: -10px; }
.barra-logos__box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.barra-logos img { width: 100%; }
.barra-logos a { display: block; }
.barra-logos__logo-1 { max-width: 120px; }
.barra-logos__logo-2 { max-width: 120px; }
.barra-logos__logo-3 { max-width: 120px; }
.barra-logos__logo-4 { max-width: 120px; }

.box-logo-ibict {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box-logo-ibict span {
	margin-left: 20px;
	text-align: left;
	color: #9a9a9a;
	font-size: 12px;
	display: block;
}

/*
- OUTROS
*/

.searchHomeContent,
.search-home-facets { display: none; }

h1:not(.site-title):before,
h2:before { display: none !important; }

.entry .entry-title,
.title-single { font-size: 1.9rem; }

.entry .entry-content p,
.content-single p,
.abstract-single p { font-size: 1rem; }

.btn-default { color: #fff !important; }

/***
* ACESSIBILIDADE
***/

/*
* BARRA DE ACESSIBILIDADE
*/

.accessibility-bar {
	width: 100%;
	position: relative;
	background-color: #e2e2e2;
}
.accessibility-bar .container {
	min-height: 45px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.accessibility-shortcuts {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	display: flex;
}
.accessibility-shortcuts--hidden {
	position: fixed;
	top: -50px;
	left: -50px;
	opacity: 0;
	z-index: -2;
}

.accessibility-shortcuts li { margin: 0 5px; }
.accessibility-shortcuts a {
	padding: 15px 10px 15px 25px;
	font-weight: 400;
	font-size: 0.8rem;
	color: #000;
	line-height: normal;
	display: block;
	position: relative;
}
.accessibility-shortcuts a span {
	width: 16px;
	height: 16px;
	margin-right: 10px;
	font-weight: 400;
	font-size: 0.8rem;
	color: #fff;
	line-height: 16px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	background: #515151;
	transform: translate(0,-50%);
}

.accessibility-options {
	height: 24px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 0;
	padding: 0;
	display: flex;
	list-style: none;
}
.accessibility-options li {
	height: 24px;
	margin: 0 10px;
	display: flex;
	align-items: center;
}

.accessibility-options span {
	height: 14px;
	margin-right: 6px;
	font-weight: 400;
	font-size: .8rem;
	color: #000;
	line-height: normal;
	display: block;
}

.accessibility-options button {
	width: 33px;
	height: 33px;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: .9rem;
	color: #fff;
	line-height: 33px;
	text-align: center;
	cursor: pointer;
	display: block;
	border: none;
	background: #515151;
}
.accessibility-options button + button { margin-left: 6px; }

.accessibility-options .button-high-contrast {
	width: auto;
	height: auto;
	padding: 10px;
	line-height: normal;
}

@media screen and (min-width: 992px) {
	.accessibility-bar .container { max-width: 950px; }
}
@media screen and (max-width: 800px) {
	.accessibility-options { margin-top: 20px; }
	.accessibility-options button {
		width: 23px;
		height: 23px;
		line-height: 23px;
	}

	body.js .accessibility-options { margin-top: 0; }

	.accessibility-bar .container {
		padding: 10px 15px 11px;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
	}

	.accessibility-bar .accessibility-shortcuts {
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.accessibility-bar a {
		padding: 15px 10px 15px 35px;
		position: absolute;
		top: -30px;
		left: 50%;
		opacity: 0;
		background-color: #fff;
		z-index: -2;
		transform: translate(-50%,50px);
	}

	.accessibility-bar a:focus {
		opacity: 1;
		z-index: 9999;
	}

	.accessibility-bar span { left: 10px; }
}

/* MODO COMPACTO DA BARRA DE ACESSIBILIDADE */

.accessibility-bar.compact-mode {
	position: absolute;
	top: 0;
	border: none;
	background: none;
	transform: translate(0,-100px);
}
.accessibility-bar.compact-mode .accessibility-options { display: none; }
.accessibility-bar.compact-mode .accessibility-shortcuts a {
	padding: 5px 10px;
	position: absolute;
	top: 20px;
	left: 50%;
	opacity: 0;
	background-color: #fff;
	z-index: -2;
	transform: translate(-50%,100px);
}
.accessibility-bar.compact-mode .accessibility-shortcuts a:focus {
	opacity: 1;
	z-index: 2;
}

@media screen and (max-width: 500px) {
	.accessibility-bar.compact-mode .accessibility-shortcuts a:focus { transform: translate(-50%,160px); }
}

/***
* ALTO CONTRASTE
***/

body.contraste { background-color: #000 !important; }
body.contraste * {
	color: #fff !important;
	border-color: #fff !important;
	background-color: #000 !important;
}
body.contraste .accessibility-options button,
body.contraste .accessibility-shortcuts a span {
	color: #000 !important;
	background-color: #fff !important;
}
body.contraste .form-search-wp input[type=text] {
	color: #fff !important;
	background-color: #000 !important;
}
body.contraste .form-search-wp input[type=text]::placeholder { color: #fff !important; }
body.contraste .form-search-wp input[type=text]:-ms-input-placeholder { color: #fff !important; }
body.contraste .form-search-wp input[type=text]::-ms-input-placeholder { color: #fff !important; }
body.contraste .form-search-wp button[type=submit] { border: 1px solid #fff !important; }
body.contraste .accessibility-bar,
body.contraste .main-header { border-bottom: 1px solid #fff !important; }